<ion-modal-view class="modal-view">
  <ion-header-bar class="bar-positive">
    <h1 class="title" style="text-align: center">¿Qué te interesa?</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h1 style="text-align: center">{{selectedPoi.name}}</h1>
    <p>{{selectedPoi.content.description}}</p>
    <a ng-href="foursquare.com/v/{{selectedPoi.placeId}}">Ver en Foursquare</a>
  </ion-content>
</ion-modal-view>
