<ion-view class="welcome-view" view-title="Ingreso">
  <ion-content scroll="false">
    <!-- <div style="padding-top: 45%">
      <h1>Guía Turística del Centro Histórico de Quito</h1>
    </div> -->
    <div class="top-content row">
      <div class="app-copy col col-top">
        <h1 class="app-logo">Guía de Quito</h1>

        <p class="app-tagline">
          La aplicación que te ayuda a descubrir nuevos sitios de interés en Quito
        </p>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <a class="facebook-sign-in button button-block icon-left ion-social-facebook" ng-click="facebookSignIn()">
                    Iniciar sesión con Facebook
                </a>
        <a class="button button-block button-assertive" ng-click="skipLogIn()">
                    Saltar el inicio de sesión
                </a>

        <p class="note">
          * Recomendamos iniciar sesión para disfrutar de una mejor experiencia.
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
