<ion-view view-title="Mis intereses">
  <ion-nav-buttons side="right">
    <button ng-click="centerOnCurrentPosition()" class="button button-icon icon ion-pinpoint"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <!-- <div class="mapWrap" data-tap-disabled="true" map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map style="height: 100%" default-style="false">
                <custom-marker id="user" position="{{currentPos.lat()}}, {{currentPos.lng()}}">
                    <img ng-src="{{currentPos.marker}}">
                </custom-marker>
                <custom-marker ng-repeat="m in markers" position="{{m.latitude}}, {{m.longitude}}">
                    <a ng-click="openModal(m)"><img ng-src="{{m.icon}}"></a>
                </custom-marker>
            </ng-map>
        </div> -->
    <!--<a ng-click="openModal()" class="button button-block button-positive">Modal Intereses</a>-->
    <div class="map-wrap" map-lazy-load="https://maps.google.com/maps/api/js">
      <ng-map style="height: 100%" default-style="false" center="41,-87" zoom="10"></ng-map>
    </div>
  </ion-content>

</ion-view>
