<ion-view view-title="Mi Perfil">
  <ion-content class="padding">
    <div id="profile-bg"></div>
    <div id="content">
      <div id="profile-info">
        <img id="profile-image" ng-src="{{user.img}}">
        <h3 id="profile-name">{{user.firstName}}
          {{user.lastName}}</h3>
        <span id="profile-description">
          <p>
            Su interés es:
          <div>
                {{myInterest.name}}
          </div>
          </p>
        </span>
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Cambiar Interés:
          </div>
          <select name="type" ng-model="interest" ng-options="interest.name for interest in interests" ng-change="changeInterest(interest)">
            <option style="display:none" value="">{{myInterest.name}}</option>
          </select>
        </label>
        <div class="item item-icon-left">
          <i class="icon ion-email"></i> {{user.email}}
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-calendar"></i> {{birthday}}
        </div>
        <div class="item">
          <button ng-click="logout()" class="button button-block button-assertive">
            Salir
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
