<ion-view view-title="Mi Perfil">
  <ion-content class="padding">
    <div id="profile-bg"></div>
    <div id="content">
      <div id="profile-info">
        <img id="profile-image" ng-src="{{user.img}}">
        <h3 id="profile-name">{{user.firstName}}
          {{user.lastName}}</h3>
        <span id="profile-description">
          <div ng-repeat="interest in user.userInterestTypes">
            <p>
              {{interest.interestType.name}}
            <!-- <i ng-class="badgesClass"></i> -->
            <!-- <p>
            </p> -->
            </p>
          </div>
        </span>
      </div>
      <div class="list">
        <div class="item item-icon-left">
          <i class="icon ion-email"></i> {{user.email}}
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-calendar"></i> {{birthday}}
        </div>
        <div class="item">
          <button ng-click="logout()" class="button button-block button-assertive">
            Salir
          </button>
        </div>
        <button ng-click="logout()" class="button button-block button-assertive">
          Salir
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
